{% load static %}<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title%}Django Boards{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css.map' %}">
  </head>
  <body>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
     <div class="container">
	   <a class="navbar-brand" href="{% url 'home' %}">Django Boards</a>
	 </div>
	 </nav>
	 <div class="container">
        <ol class="breadcrumb my-4">
           {% block breadcrumb %}
           {% endblock %}
        </ol>
        {% block content %}
        {% endblock %}
     </div>
   </body>
</html>